@media (max-width: 1080px) {
  /* first level */
  body {
    line-height: 1.65;
    font-family: "Roboto", -apple-system, "Helvetica Neue", Helvetica,
      "Segoe UI", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  img {
    max-width: 100%;
  }

  /* elements of the navbar */

  #links {
    display: none;
  }

  nav {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 2rem 2rem 2rem;
  }

  #sign_options {
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background-color: whitesmoke;
    z-index: 5;
    box-sizing: border-box;
    padding: 1rem 0;
  }

  #menu {
    display: block;
  }

  #dropdown {
    display: none;
    flex-flow: column;
    transition-duration: 0.5s;
    box-shadow: rgba(25, 28, 31, 0.04) 0px 8px 8px;
  }
  
  .level0 {
    display: flex;
    flex-flow: column;
    margin: 1rem 2rem;
  }
  
  .level1 {
    display: flex;
    justify-content: space-between;
  }
  
  .level2 {
    display: none;
    flex-flow: column;
    margin: 1rem 0;
  }
  
  .level2 section{
    color: rgb(153, 154, 155);
    margin: 1rem 0 1rem 2rem; 
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  
  .level1:hover,
  .level1:focus-within {
    cursor: pointer;
  }

  #dropdown a:hover{
    color: black;
    border-bottom: 1px solid;
    margin-bottom: -1px;
    cursor: pointer;
  }

  /* hero section */

  #hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 2rem 2rem;
  }

  #hero_form {
    display: none;
  }

  #hero_text {
    flex: 1;
    margin-bottom: 2rem;
  }

  #hero_text p {
    color: rgb(153, 154, 155);
  }

  #hero_text h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
  }

  #hero_signup {
    display: none;
  }

  #hero_img_div {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  #hero_img {
    width: 80%;
  }

  /* colored cards section */

  #color_cards_section {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 2rem 4rem;
  }
  #color_cards_section h2 {
    font-size: 2rem;
    margin: 0rem;
  }


  #color_cards {
    margin-top: 2rem;
    width: 100%;
    max-width: 100vw;
    flex-flow: column;
    justify-content: flex-start;
    animation: none;
  }

  .cl_card {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto 100%;
    min-width: 10rem;
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
    margin: 0.5rem 0;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    padding: 1.5rem 1rem;
  }

  .cl_card:hover::after {
    display: none;
  }

  .cl_hover {
    display: none;
  }

  .cl_card h4 {
    width: 50%;
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 0;
  }

  .copy {
    display: none;
  }

  /* screen sections */

  #screens_first,
  #screens_second {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin: 0 2rem 4rem;
  }

  .screen_section {
    display: flex;
    flex-flow: column;
    margin: 0 0 4rem 0;
    align-items: center;
  }

  .screen_section:nth-child(even) {
    flex-flow: column-reverse;
  }

  .screen_text_div {
    flex: 1;
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
  }

  .screen_text_div h2 {
    font-size: 2.5rem;
    margin: 0;
  }

  .screen_text_div:nth-child(odd) {
    padding-right: 0;
  }

  .screen_text_div:nth-child(even) {
    padding-left: 0;
  }

  .screen_img_div {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 3rem;
  }

  .screen_img_div::after {

    width: 80%;
  }

  .screen_img {
    width: 80%;
  }
  /* tweets section */

  #tweets_section {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-bottom: 6rem;
  }
  #tweets_section h2 {
    font-size: 2rem;
    margin: 0 2rem 4rem;
  }

  #tweets{
    max-width: 100vw;
    overflow-x: scroll;
  }

  .scroll_div {
    display: flex;
    padding: 2rem 0;
    animation: none;
    width: fit-content;
  }

  .tweet_card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 1rem;
    padding: 2rem;
    max-width: 5rem;
    height: 10rem;
    border-radius: 1rem;
    box-shadow: rgba(25, 28, 31, 0.08) 0px 14px 32px,
      rgba(25, 28, 31, 0.04) 0px 8px 16px, rgba(25, 28, 31, 0.04) 0px -1px 0px;
  }

  /* map section */

  #map_section {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 2rem 4rem;
  }

  #map_section h2 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }

  #map_div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #map {
    width: 100%;
    position: relative;
  }

  /* plans section */

  #plans {
    display: flex;
    flex-flow: column;
    transition: background-color 0.5s;
    justify-content: flex-start;
    align-items: center;
  }

  .hover_div {
    visibility: visible;
    margin-top: auto;
    margin-bottom: 2rem;
    background-color: none;
  }

  #plans > section {
    width: 80%;
  }

  /* Footer */

  footer {
    background-color: hsl(210, 11%, 11%);
    color: rgb(153, 154, 155);
    padding: 2rem 2rem calc(15vh + 2rem);
  }
}
