@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* first level */
body {
  line-height: 1.65;
  font-family: "Roboto", -apple-system, "Helvetica Neue", Helvetica, "Segoe UI",
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
  display: block;
}

img {
  max-width: 100%;
}

/* elements of the navbar */

nav {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  padding: 3rem 6rem 9rem;
}

#links {
  display: flex;
  align-items: center;
  color: rgb(153, 154, 155);
}

#links span {
  margin: 0px 1.5rem;
  cursor: pointer;
}

#links span:hover {
  color: black;
}

#sign_options {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

#logo {
  margin-right: auto;
  cursor: pointer;
}

#menu {
  display: none;
}

/* hero section */

#hero {
  display: flex;
  justify-content: center;
  margin: 0 6rem 9rem;
}

#hero_text {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#hero_text h1 {
  font-size: 4.5rem;
  line-height: 6rem;
}

#hero_img_div {
  flex: 1;
  display: flex;
  justify-content: center;
}

#hero_img {
  width: 60%;
}

#hero_signup {
  display: flex;
  column-gap: 1rem;
}

input {
  border: none;
}

#prefix {
  width: 3rem;
  position: relative;
  border-bottom: 1px solid;
  margin-bottom: -1px;
  border-color: rgb(153, 154, 155);
}
#prefix:hover {
  border-color: rgb(44, 55, 197);
}

#telephone {
  border-bottom: 1px solid;
  margin-bottom: -1px;
  border-color: rgb(153, 154, 155);
}

.clock_icon {
  vertical-align: middle;
  margin: 0 1rem 0 0;
}

/* colored cards section */

#color_cards_section {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 8rem;
}
#color_cards_section h2 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

#color_cards,
#tweets {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  animation: carousel 30s linear 0s infinite running;
  max-width: 100vw;
  transform: translate3d(0px, 0px, 0px);
}

#color_cards:hover,
#tweets:hover {
  animation-play-state: paused;
}

.cl_card {
  color: white;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 20rem;
  height: 22rem;
  border-radius: 1rem;
  margin: 0 1rem;
  position: relative;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  padding: 0 2rem;
}

.cl_card:hover::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 20rem;
  height: 22rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  box-sizing: border-box;
  border: none;
  z-index: 0;
  padding: 0 2rem;
}

.cl_card:hover .cl_hover {
  visibility: visible;
}

.cl_hover {
  visibility: hidden;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cl_hover > button {
  width: 100%;
  margin-top: auto;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: rgba(25, 28, 31, 0.08) 0px 14px 32px,
    rgba(25, 28, 31, 0.04) 0px 8px 16px, rgba(25, 28, 31, 0.04) 0px -1px 0px;
}

.cl_card h4 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 0;
}

.card1 {
  background-image: url(assets/card1.png);
  background-color: rgb(247, 147, 13);
}
.card2 {
  background-image: url(assets/card2.png);
  background-color: rgb(0, 125, 251);
}
.card3 {
  background-image: url(assets/card3.png);
  background-color: rgb(164, 188, 13);
}
.card4 {
  background-image: url(assets/card4.png);
  background-color: rgb(192, 84, 211);
}

/* screen sections */

#screens_first,
#screens_second {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 0 10rem 9rem;
}

.screen_section {
  display: flex;
  flex-flow: row;
  margin: 0 0 4rem 0;
}

.screen_text_div {
  flex: 1;
  display: flex;
  flex-flow: column;
  row-gap: 1rem;
}

.screen_text_div h2 {
  font-size: 2.5rem;
}

.screen_text_div:nth-child(odd) {
  padding-right: 2rem;
}

.screen_text_div:nth-child(even) {
  padding-left: 2rem;
}

.screen_img_div {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}
.screen_img_div::after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  left: 9.6rem;
  top: 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/back.png);
  z-index: -1;
}

.screen_img {
  width: 50%;
}
/* tweets section */

#tweets_section {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-bottom: 9rem;
}
#tweets_section h2 {
  font-size: 2rem;
  margin-bottom: 6rem;
}

.tweet_card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 2rem;
  padding: 2rem;
  min-width: 20rem;
  border-radius: 1rem;
  box-shadow: rgba(25, 28, 31, 0.08) 0px 14px 32px,
    rgba(25, 28, 31, 0.04) 0px 8px 16px, rgba(25, 28, 31, 0.04) 0px -1px 0px;
}

/* map section */

#map_section {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 6rem 6rem;
}

#map_section h2 {
  font-size: 2rem;
  margin-bottom: 4rem;
}

#map_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  width: 70%;
  position: relative;
}
/* plans section */

#plans {
  display: flex;
  flex-flow: row;
  transition: background-color 0.5s;
  justify-content: space-around;
}

#plans > section {
  width: 30%;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: flex-start;
}

.plan_type {
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}

.price {
  font-size: 6.5rem;
  display: flex;
  font-weight: 200;
  text-align: center;
  justify-content: center;
  margin: 1rem;
}

.yen {
  font-size: 3rem;
  align-self: flex-start;
}

.per_month {
  font-size: 3rem;
  align-self: flex-end;
}

#plans section:hover {
  background: hsla(210, 11%, 11%, 0.08);
}

#plans section:hover .hover_div {
  visibility: visible;
}

.hover_div {
  visibility: hidden;
  margin-top: auto;
  margin-bottom: 2rem;
}

/* Footer */

footer {
  background-color: hsl(210, 11%, 11%);
  color: rgb(153, 154, 155);
  padding: 4rem 9rem;
}

/* various */

.btn {
  display: inline-block;
  border: none;
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  font-weight: 500;
  transition: background-color 0.2s;
}
.btn:hover {
  cursor: pointer;
}

.black_btn {
  background: hsl(210, 11%, 11%);
  color: white;
}
.black_btn:hover {
  background: hsl(210, 11%, 11%, 0.8);
}
.black_btn:disabled {
  cursor: not-allowed;
  opacity: 0.8;
  color: rgba(255, 255, 255, 0.4);
}

.gray_btn {
  background: hsla(210, 11%, 11%, 0.08);
  color: hsl(210, 11%, 11%);
}
.gray_btn:hover {
  background: hsla(210, 11%, 11%, 0.2);
}

.white_btn {
  background: whitesmoke;
  color: hsl(210, 11%, 11%);
}
.white_btn:hover {
  background: hsl(0, 0%, 85%);
}

.blue_txt {
  color: hsl(210, 100%, 46%);
  font-weight: 200;
  cursor: pointer;
}

.blue_arr {
  position: relative;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: 21px;
  height: 12px;
  stroke: rgb(0, 117, 235);
  fill: rgb(0, 117, 235);
  color: blue;
  transition: all 0.3s;
  margin-left: 0.3rem;
}

*:hover + span > .blue_arr {
  transform: translateX(0.3rem);
}

.blue_tick {
  color: rgb(0, 117, 235);
  width: 14px;
  height: 10px;
  position: absolute;
  left: 0.06rem;
  top: 0.81rem;
  height: 0.85rem;
  width: 0.85rem;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  display: list-item;
}

.check_list {
  padding: 0.5rem 2rem;
  position: relative;
  text-align: left;
  color: rgb(153, 154, 155);
}

@keyframes carousel {
  100% {
    transform: translate3d(50%, 0px, 0px);
  }
}
